doctype html
html(lang="en")
    include ../Modulo/head.pug
      
    body 
        div(class="d-flex")
            div(id="sidebar-container" class="bg-dark")
                div(class="px-lg-5 py-lg-4 p-3 ")
                    a(href="/Home") 
                        img(src="/img/Logo.png" id="Logo" class="img-fluid")

                div(class="menu")
                    br
                    a(class="d-block  btn btn-dark text-light p-3",href="/Home")
                        i(class="fas fa-home mr-2 lead")  
                        = " Home"

                    a(class="d-block   btn btn-dark text-light p-3",href="/Usuario")
                        i(class="fas fa-user mr-2 lead")  
                        = " Perfil"

                    a(class=" btn btn-dark  d-block text-light p-3",href=("/Publicacion/Create")) 
                        i(class="fas fa-upload mr-2 lead")  
                        span(class="font-weight-bold")= " Subir una Imagen"

                    a(class=" btn btn-dark  d-block text-light p-3",href=("/Publicacion/Buscar")) 
                        i(class="fas fa-search mr-2 lead")  
                        span(class="font-weight-bold")= " Buscar"


            div(class="w-100")   
                nav(class="navbar navbar-expand-sm navbar-light " id="navbar")
                    div(class="container")
                        form(action="/Buscar" method="POST" class="d-flex form-inline position-relative my-2 d-inline-block")
                            input(class="form-control" style="width: 400px; margin-left: 300px;" type="search" name="search" placeholder="Buscar" aria-label="Buscar")
                            button(class="btn btn-success" style="margin-left: 4px; " type="submit")
                                i(class="fas fa-search")

                        div
                            div(class="dropdown")
                                button(class="btn btn-secondary dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false")
                                    if(Usuario.Avatar == "null")
                                        img(src=`/img/Perfil.jpg` id="img-perfil" alt="")
                                    else
                                        img(src=`/avatar/${Usuario.Avatar}` id="img-perfil" alt="")
                                    = ` ${Usuario.Nombre} ${Usuario.Apellido}`

                                ul(class="dropdown-menu" aria-labelledby="dropdownMenuLink")
                                    li
                                        a(class="dropdown-item" href="#")="Configuracion"
                                    li
                                        a(class="dropdown-item" href="/Salir")="Cerrar sesion"
                div(id="content" )
                    div(class="container bg-dark p-3 " id="contenedor-create")
                        div(class="row")

                            //- Cuerpo de la imagen

                            div(class="col-sm-6" id="section-foto")
                                div(id="cuerpo-foto")
                                    if(Publicacion.Imagenes.Estado == "Protegido")
                                        img(src=`/private/${Publicacion.Imagenes.Nombre}` id="myImg")
                                    else
                                        img(src=`/public/${Publicacion.Imagenes.Nombre}` id="myImg")




                                if(Sum > 0 && Count > 0)
                                    span(class="text-start text-light" style="margin-left: 40px;")=`Valoracion: ${Sum/Count} /5`
                                    div(class="dropdown" id="dropdown")
                                        button(type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown")
                                            i(class="fas fa-swatchbook")
                                        
                                        ul(class="dropdown-menu")
                                            li
                                                a(class="dropdown-item" href=`/Publicacion/Update/${Publicacion.id}`)="Editar"
                                            li
                                                a(class="dropdown-item" href=`/Publicacion/Delete/${Publicacion.id}`)="Eliminar"
                                else 
                                    span(class="text-start text-light" style="margin-left: 40px;")=`Valoracion: 0/5`
                                    div(class="dropdown" id="dropdown")
                                        button(type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown")
                                            i(class="fas fa-swatchbook")
                                        
                                        ul(class="dropdown-menu")
                                            li
                                                a(class="dropdown-item" href=`/Publicacion/Update/${Publicacion.id}`)="Editar"
                                            li
                                                a(class="dropdown-item" href=`/Publicacion/Delete/${Publicacion.id}`)="Eliminar"
                                    



                                

                                div(class="d-flex flex-column align-items-center" id="cuerpo-descripcion") 
                                    if(Valorado == null)
                                        form(class="card-body" action="/Valoracion/Create" method="POST")
                                            div 
                                                span(class="fa fa-star" onclick="calificar(this)" style="cursor: pointer; color: white;" id="1")
                                                span(class="fa fa-star" onclick="calificar(this)" style="cursor: pointer; color: white;" id="2")
                                                span(class="fa fa-star" onclick="calificar(this)" style="cursor: pointer; color: white;" id="3")
                                                span(class="fa fa-star" onclick="calificar(this)" style="cursor: pointer; color: white;" id="4")
                                                span(class="fa fa-star" onclick="calificar(this)" style="cursor: pointer; color: white;" id="5")
                                                input(type="hidden" id="valoracion" name="Estrellas" value="0")
                                            input(type="hidden" name="publicacion_id" value=`${Publicacion.id}`)
                                            input(type="submit", class="btn btn-success" value="Valorar")
                                    

                                    h6(class="font-weight-bold text-light" id="titulo-create")=`${Publicacion.Titulo}`


                                

                            //- cuerpo de los comentarios 

                            div(class="col-sm-6" id="section-comentarios")
                                div(class="container")
                                    div(class="bg-light" id="contenedor")
                                        for val in Comentarios
                                            div(class="d-flex") 
                                                img(src=`/avatar/${val.Usuario.Avatar}`, alt="" class="p-2" id="img-Comentarios")
                                                div(id="content-Comentarios")=`${val.Usuario.Nombre} ${val.Usuario.Apellido}`
                                            div( id="Comentarios" title =`${val.Fecha.toDateString()}`)=`${val.Descripcion}`

                                    form(class="d-flex form-inline position-relative my-2 d-inline-block" action="/Comentario/Create" method="POST")
                                        textarea(name="Descripcion", cols="30", rows="2" class="form-control" id="campo-comentario" style="margin-right: 2px;")
                                        input(type="hidden", name="publicacion_id" value=`${Publicacion.id}`)
                                        button(type="submit" class="btn btn-success")="Comentar" 